* {
  margin: 0%;
}
.App {
  width: 25vw;
  background-color: black;
  margin-top: 10%;
}
img {
  height: 50vh;
  width: 100%;
}
.Info {
  text-align: center;
}
.Info,
.about,
.interests {
  color: aliceblue;
  padding: 4%;
}
.Info h5 {
  color: orange;
}
.links {
  display: flex;
  margin-top: 5%;
  justify-content: space-around;
}
input {
  width: 60px;
  height: 25px;
  border-radius: 8px;
  border: 1px;
}
.linkedin {
  background-color: #5596e2;
}
.email {
  background-color: aliceblue;
}
